.list{
    float: left;
    color: grey;
    font-family: 'Chakra Petch', sans-serif;
    position: absolute;
    bottom: 8px;
    left: -25px;
    font-size: 18px;
    text-transform: capitalize;
}
.wrapper{
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    color: grey;
    font-size: 70px;

}
.paragraph{
    font-family: 'Chakra Petch', sans-serif;
    color: grey;
    position: absolute;
    bottom: 0px;
    right: 16px;
    font-size: 18px;
    text-transform: capitalize;
}
.list2{
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 18px;
    text-transform: capitalize;
}
a.ex1:hover, a.ex1:active {color:darkgray;}